<div class="lateral-bar">
      
    <app-image-button
      imageSrc="assets/xmpp.png"
      [width] = "40"
      [height]="40"
      [translateY]="0"
      (buttonClick)="to_chatMain()"
      >
    </app-image-button>

    <app-image-button
      imageSrc="assets/workarea.png"
      [width]="40"
      [height]="40"
      [translateY]="0"
      (buttonClick)="to_workArea()"
    ></app-image-button>

    <app-image-button
      imageSrc="assets/contact-book.png"
      [width]="40"
      [height]="40"
      [translateY]="0"
      (buttonClick)="openContacts()"
    ></app-image-button>

    <app-image-button
      imageSrc="assets/user.png"
      [width]="40"
      [height]="40"
      [translateY]="360"
      (buttonClick)="openModal()"
    ></app-image-button>


    

    <!-- Agrega más botones de imagen si lo necesitas -->
</div>