.main-layout {
    display: flex;
    height: 100vh; // Asegúrate de ocupar toda la altura de la pantalla
  }
  
  app-lateral-bar {
    width: 4vw; // Ajusta según el ancho de tu barra lateral
  }
  
  app-work-area-bar {
    flex: 1; // Ocupará el 25% del ancho de la pantalla como se definió en el componente
  }
  