<p>login works!</p>
<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <div class="button-container">
      <button type="submit">Login</button>
      <button type="button" (click)="navigateToRegister()">Register</button>
    </div>
  </form>
</div>
