<div class="chat-container">
  <!-- Header con el nombre del usuario -->
  <div class="chat-header">
    <h2>{{ contactName }}</h2>
  </div>

  <!-- Espacio para los mensajes -->
  <div *ngIf="messagesPerSender && messagesPerSender.length">
    <div class="chat-messages">
      <div *ngFor="let message of messagesPerSender">
        <app-message-bubble 
          [contactName]="message.sender" 
          [lastMessage]="message.text" 
          [timestamp]="message.date_msg">
        </app-message-bubble>
      </div>      
    </div>
  </div>

  <!-- Plantilla Alternativa en Caso de No Haber Mensajes -->
  <ng-template #noMessages>
    <p>No hay mensajes para mostrar.</p>
  </ng-template>

  <!-- Área para escribir y enviar mensajes -->
  <div class="chat-input">
    <input [(ngModel)]="newMessage" placeholder="Escribe un mensaje..." />
    <app-image-button
    imageSrc="assets/adjuntar.png"
    [width]="30"
    [height]="30"
    [translateY]="0"
    (buttonClick)="handleclick()"
  ></app-image-button>
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>
