.notification-modal {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50; /* Color de fondo de la notificación */
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 5s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.work-area-bar {
    display: flex;
    flex-direction: column;
    width: 20vw; // Aproximadamente 1/4 del ancho de la pantalla
    height: 100vh; // Ocupa todo el alto de la pantalla
    background-color: #f0f0f0; // Ajusta el color de fondo según sea necesario
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); // Sombra para dar un poco de profundidad
    border: 1px solid rgb(141, 137, 137);

  
    h2 {
      margin-bottom: 10px;
      font-size: 1em;
    }

    .title-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .title-bar h2 {
      margin: 0;
      display: inline-block;
    }
    
    .title-bar app-image-button {
      margin-left: 10px; /* Espacio entre el título y el botón */
      cursor: pointer;
    }
  
    .toolbar {
      display: flex;
      flex-direction: row; // Columna para que los elementos estén uno debajo del otro
      align-items: stretch;
  
      .search-input {
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 1.0em;
        border: 1px solid black;
        width: 14vw;
        height: 2vh;
        border-radius: 4px;
      }
  
      app-image-button {
        margin-left: 1.0em; // Espacio entre los botones
      }

      .filter-button, .add-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        width: 4vw;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 5px;
  
        i {
          font-size: 1.0em;
        }
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  