<div class="contact-area-bar">
    <h2>Lista de contactos</h2>
    <div class="toolbar">
      <input type="text" class="search-input" placeholder="Buscar...">
      <button class="options-button">
        <i class="fas fa-ellipsis-v"></i>
      </button>
    </div>
    <div class="contacts-list">
      <div class="contact-group" *ngFor="let contact of contacts">
        <app-contact-button 
        [username]="contact.username" 
        [status]="contact.status"
        (contactClick)="onContactClick($event)"
        >
        </app-contact-button>
      </div>
    </div>
  </div>